.cardDiv {
  display: flex;
  flex-direction: column;
  /* max-width: 400px; */
  border: 1px solid black;
  border-radius: 1rem;
  padding: 1rem;
  gap: 0.5rem;
  background-color: var(--primary-text-color);
  color: var(--primary-bg-color);
  box-shadow: var(--primary-box-shadow);
}

.shopH3 {
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.quantityDiv {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
  max-width: 100%;
}

.input {
  width: 55%;
  color: inherit;
  background-color: var(--primary-text-color);
  outline: none;
  border: 1px solid var(--primary-bg-color);
}

.input:focus {
  border: 2px inset rgb(118, 118, 188);
  outline: none;
}

.input::placeholder {
  color: inherit;
}

.submitBtn {
  width: 100%;
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
  border: none;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.submitBtn:hover {
  opacity: 0.5;
}

.img {
  object-fit: contain;
}

.imgDiv {
  height: 300px;
  display: flex;
  justify-content: center;
}

.inputDiv {
  display: flex;
  gap: 0.5rem;
}

.crementBtnDiv {
  display: flex;
  gap: 0.5rem;
}

.crementBtn {
  color: inherit;
}
